.container{
    display: flex;
    align-items: center;
    justify-content: center
}

.viscocity_icons{
    cursor: pointer;
    margin: 2px;
}

.viscosity_table{
    height: 380px;
    overflow: scroll;
  }